#   -------------------------------------------------------------
#   Salt — FreeBSD repository
#   - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
#   Project:        Nasqueron
#   License:        Trivial work, not eligible to copyright
#   -------------------------------------------------------------

{% set repo = {
  'signing_key_dir': '/usr/local/etc/freebsd-pkg-repo/key',
} %}
