{% set dirs = salt['grains.filter_by']({
    'Debian': {
        'etc': '/etc',
        'bin': '/usr/bin',
        'include': '/usr/include',
        'lib': '/usr/lib',
        'man': '/usr/share/man',
        'sbin': '/usr/sbin',
    },
    'FreeBSD' : {
        'etc': '/usr/local/etc',
        'bin': '/usr/local/bin',
        'include': '/usr/local/include',
        'lib': '/usr/local/lib',
        'man': '/usr/local/man',
        'sbin': '/usr/local/sbin',
    },
}, default='Debian') %}

{% set services = salt['grains.filter_by']({
    'Debian': {
        'manager': 'systemd',
    },
    'FreeBSD' : {
        'manager': 'rc',
    },
}, default='Debian') %}

{% set shells = salt['grains.filter_by']({
    'Debian': {
        'bash': '/bin/bash',
        'fish': '/usr/bin/fish',
        'tcsh': '/usr/bin/tcsh',
    },
    'FreeBSD' : {
        'bash': '/usr/local/bin/bash',
        'fish': '/usr/local/bin/fish',
        'tcsh': '/bin/tcsh',
    },
}, default='Debian') %}

{% set paths = salt['grains.filter_by']({
    'FreeBSD': {
        'sftp': '/usr/libexec/sftp-server',
    },
    'Debian': {
        'sftp': '/usr/lib/openssh/sftp-server',
    },
    'RedHat': {
        'sftp': '/usr/libexec/openssh/sftp-server',
    },
    'Arch': {
        'sftp': '/usr/lib/ssh/sftp-server',
    },
}, default='FreeBSD') %}

{% set packages_prefixes = salt['grains.filter_by']({
    'Debian': {
        'php': 'php7.1-',
        'python2': '',
        'python3': 'python3-',
    },
    'RedHat': {
        'python2': 'python2-',
        'python3': 'python3-',
    },
    'FreeBSD' : {
        'php': 'php71-',
        'python2': 'py27-',
        'python3': 'py36-',
        'rubygem': 'rubygem-',
    },
}, default='Debian') %}

{% set packages = salt['grains.filter_by']({
    'Debian' : {
        'ag': 'silversearcher-ag',
        'aspell-fr': 'aspell-fr',
        'aspell-en': 'aspell-en',
        'certbot': 'certbot',
        'cppunit': 'libcppunit-dev',
        'emacs': 'emacs-nox',
        'mariadb': 'mariadb-server',
        'node': 'nodejs',
        'phpunit': 'phpunit',
        'sphinx': 'python3-sphinx',
        'tcltls': 'tcl-tls',
        'tdom': 'tdom',
        'varnish': 'varnish',
        'verbiste': 'verbiste',
    },
    'RedHat': {
        'ag': 'the_silver_searcher',
        'aspell-fr': 'aspell-fr',
        'certbot': 'python2-certbot',
        'cppunit': 'cppunit-devel',
        'emacs': 'emacs-nox',
        'exiftool': 'perl-Image-ExifTool',
        'mariadb': 'mariadb-server',
        'node': 'nodejs',
        'sphinx': 'python3-sphinx',
        'tcltls': 'tcltls',
        'varnish': 'varnish',
    },
    'Arch': {
        'ag': 'the_silver_searcher',
        'aspell-fr': 'aspell-fr',
        'certbot': 'certbot',
        'cppunit': 'cppunit',
        'emacs': 'emacs-nox',
        'mariadb': 'mariadb',
        'sphinx': 'python-sphinx',
        'tcltls': 'tcltls',
        'varnish': 'varnish',
    },
    'FreeBSD' : {
        'ag': 'the_silver_searcher',
        'aspell-fr': 'fr-aspell',
        'aspell-en': 'en-aspell',
        'certbot': 'py27-certbot',
        'cppunit': 'cppunit',
        'emacs': 'emacs-nox11',
        'exiftool': 'p5-Image-ExifTool-devel',
        'mariadb': 'mariadb101-server',
        'node': 'node',
        'phpunit': 'phpunit6',
        'sphinx': 'py27-sphinx',
        'tcltls': 'tcltls',
        'tdom': 'tDOM',
        'varnish': 'varnish5',
        'verbiste': 'fr-verbiste',
    },
}, default='Debian') %}
