{% set dirs = salt['grains.filter_by']({
    'Debian': {
        'etc': '/etc',
        'bin': '/usr/bin',
        'include': '/usr/include',
        'lib': '/usr/lib',
    },
    'FreeBSD' : {
        'etc': '/usr/local/etc',
        'bin': '/usr/local/bin',
        'include': '/usr/local/include',
        'lib': '/usr/local/lib',
    },
}, default='Debian') %}

{% set services = salt['grains.filter_by']({
    'Debian': {
        'manager': 'systemd',
    },
    'FreeBSD' : {
        'manager': 'rc',
    },
}, default='Debian') %}

{% set shells = salt['grains.filter_by']({
    'Debian': {
        'bash': '/bin/bash',
        'fish': '/usr/bin/fish',
        'tcsh': '/usr/bin/tcsh',
    },
    'FreeBSD' : {
        'bash': '/usr/local/bin/bash',
        'fish': '/usr/local/bin/fish',
        'tcsh': '/bin/tcsh',
    },
}, default='Debian') %}

{% set packages = salt['grains.filter_by']({
    'Debian' : {
        'sphinx': 'python3-sphinx',
    },
    'RedHat': {
        'sphinx': 'python3-sphinx',
    },
    'Arch': {
        'sphinx': 'python-sphinx',
    },
    'FreeBSD' : {
        'sphinx': 'py27-sphinx',
    },
}, default='Debian') %}
