# Linters
flake8>=3.9.2,<4.0
autopep8>=1.5.7,<2.0
pycodestyle>=2.7.0,<3.0

# Tests and utilities
PyYAML>=5.4.1,<6.0

# Tests
mock>=4.0.3,<5.0
json==3003
jsondiff==1.3.0
unittest-data-provider>=1.0.1,<2.0
