#   -------------------------------------------------------------
#   Database server — PostgreSQL — rc configuration
#   - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
#   Project:        Nasqueron
#   License:        Trivial work, not eligible to copyright
#   -------------------------------------------------------------

postgresql_enable="YES"
postgresql_data="/var/db/postgres/data"
