#!/bin/sh

# RabbitMQ startup needs a dozen of seconds
sleep 20

docker exec {{ instance }} rabbitmqctl delete_user guest
docker exec {{ instance }} rabbitmqctl add_user root {{ password | yaml_squote }}
docker exec {{ instance }} rabbitmqctl set_user_tags root administrator
touch /srv/rabbitmq/{{ instance }}/.auth-configured
