[Unit]
Description=Odderon darkbot

[Service]
User=odderon

Type=Simple
WorkingDirectory=/opt/odderon
ExecStart=/opt/odderon/bin/darkbot
ExecReload= kill -HUP `cat /opt/odderon/darkbot.pid`
PIDFile=/opt/odderon/darkbot.pid

[Install]
WantedBy=multi-user.target
