#   -------------------------------------------------------------
#   Database server — MySQL — rc configuration
#   - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
#   Project:        Nasqueron
#   Created:        2017-11-05
#   License:        Trivial work, not eligible to copyright
#   -------------------------------------------------------------

mysql_enable="YES"
mysql_rundir="/var/run/mysql"
mysql_pidfile="/var/run/mysql/mysqld.pid"

mysql_dbdir=/var/db/mysql
