# To upgrade the forum,
#     (i)  Perform a backup at https://forum.nasqueron.org/admin/backups
#     (ii) cd /var/discourse ; ./launcher rebuild forum

templates:
  - "templates/postgres.template.yml"
  - "templates/redis.template.yml"
  - "templates/web.template.yml"
  - "templates/web.ratelimited.template.yml"

expose:
  - "32080:80"

params:
  db_default_text_search_config: "pg_catalog.english"
  db_shared_buffers: "128MB"
  #db_work_mem: "40MB"

env:
  LANG: en_US.UTF-8
  UNICORN_WORKERS: 2
  DISCOURSE_DEVELOPER_EMAILS: "dereckson+nasqueron+discourse@espace-win.org"
  DISCOURSE_HOSTNAME: forum.nasqueron.org

  DISCOURSE_SMTP_ADDRESS: smtp.mailgun.org
  DISCOURSE_SMTP_USER_NAME: %%`getcredentials 63 username`%%
  DISCOURSE_SMTP_PASSWORD:  %%`getcredentials 63 password`%%
  DISCOURSE_SMTP_ENABLE_START_TLS: true

## These containers are stateless, all data is stored in /shared
volumes:
  - volume:
      host: /var/discourse/shared/standalone
      guest: /shared
  - volume:
      host: /var/discourse/shared/standalone/log/var-log
      guest: /var/log

hooks:
  after_code:
    - exec:
        cd: $home/plugins
        cmd:
          - git clone https://github.com/discourse/docker_manager.git
          - git clone https://github.com/kasperpeulen/discourse-mathjax.git
