[Unit]
Description=OpenSearch Dashboards
Documentation=https://opensearch.org/docs/latest/
After=network.target

[Service]
RuntimeDirectory=opensearch-dashboards
PrivateTmp=true

User=opensearch
Group=opensearch

LimitNOFILE=65536
LimitMEMLOCK=infinity
LimitNPROC=4096
LimitAS=infinity
LimitFSIZE=infinity

WorkingDirectory=/opt/opensearch
ExecStart=/opt/opensearch-dashboards/bin/opensearch-dashboards -q

StandardOutput=journal
StandardError=inherit

# To shutdown: send SIGTERM signal to JVM, success if exit code 143
TimeoutStopSec=0
KillSignal=SIGTERM
KillMode=process
SendSIGKILL=no
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
