#!/bin/sh

#   -------------------------------------------------------------
#   Run Composer version if found, or find a system one if not
#   - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
#   Project:        Nasqueron
#   Source:         roles/devserver/userland-software/files/run-php-script-alias.sh
#   License:        Trivial work, not eligible to copyright
#   -------------------------------------------------------------

run-php-script {{ command }} "$@"
