#   -------------------------------------------------------------
#   Salt — Monitoring
#   - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
#   Project:        Nasqueron
#   License:        Trivial work, not eligible to copyright
#   -------------------------------------------------------------

{% set monitoring_services = salt["grains.filter_by"]({
    "Debian": {
        "prometheus-node-exporter": "prometheus-node-exporter",
    },
    "FreeBSD": {
        "prometheus-node-exporter": "node_exporter",
    },
}, default="Debian") %}
